In [23]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [24]:
#Store the CSV into a DataFrame
city_data_df= pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-05-31 17:41:34,-54.8000,-68.3000,33.42,86,40,4.61
1,1,Broken Hill,AU,2021-05-31 17:44:41,-31.9500,141.4333,51.51,50,100,11.50
2,2,Luganville,VU,2021-05-31 17:44:42,-15.5333,167.1667,73.94,85,100,5.03
3,3,Fairbanks,US,2021-05-31 17:40:04,64.8378,-147.7164,62.22,56,90,4.61
4,4,Mataura,NZ,2021-05-31 17:44:42,-46.1927,168.8643,40.17,97,87,1.77

In [25]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [26]:
#Configure gmpas to use Google API key
gmaps.configure(api_key=g_key)

In [27]:
#Get the maximum temperature
max_temp= city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp, 0))

In [28]:
#Create a heatmap for maximum temperature
#Get the latitude and longitude
locations= city_data_df[["Lat", "Lng"]]
#Get the maximum temperature
max_temp= city_data_df["Max Temp"]
#Assign the figure variable to the gmaps.figure() attribute
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
#Assign the heatmap variable
heat_layer= gmaps.heatmap_layer(locations, weights= temps, dissipating= False,
                                max_intensity=300, point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
#Heatmap of percent humidity
locations= city_data_df[["Lat", "Lng"]]
humidity= city_data_df["Humidity"]
fig= gmaps.figure(center=(30.0, 31.0), zoom_level= 1.5)
heat_layer= gmaps.heatmap_layer(locations, weights=humidity, 
                                dissipating= False, max_intensity= 300,
                               point_radius= 4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
#Heatmap of cloudiness
locations= city_data_df[["Lat", "Lng"]]
clouds= city_data_df["Cloudiness"]
fig= gmaps.figure(center=(30.0, 31.0), zoom_level= 1.5)
heat_layer= gmaps.heatmap_layer(locations, weights= clouds, 
                                dissipating= False, max_intensity= 300,
                               point_radius= 4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
#Heatmap of wind speed
locations= city_data_df[["Lat", "Lng"]]
wind= city_data_df["Wind Speed"]
fig= gmaps.figure(center=(30.0, 31.0), zoom_level= 1.5)
heat_layer= gmaps.heatmap_layer(locations, weights= wind, 
                                dissipating= False, max_intensity= 300,
                               point_radius= 4)
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
#Ask the customer to add a minimum and maximum temperature value
min_temp= float(input("What is the minimum temperature you would like for your trip?"))
max_temp= float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [34]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df= city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                     (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Kulhudhuffushi,MV,2021-05-31 17:44:44,6.6221,73.0700,82.92,75,96,20.27
14,14,Road Town,VG,2021-05-31 17:44:45,18.4167,-64.6167,86.09,70,40,10.36
18,18,Bonthe,SL,2021-05-31 17:44:46,7.5264,-12.5050,76.14,88,100,5.26
24,24,Namatanai,PG,2021-05-31 17:44:48,-3.6667,152.4333,79.02,84,99,4.03
27,27,Hilo,US,2021-05-31 17:44:48,19.7297,-155.0900,84.27,88,90,6.91
37,37,Suarez,CO,2021-05-31 17:44:51,2.9540,-76.6964,81.79,67,50,3.20
38,38,Puerto Baquerizo Moreno,EC,2021-05-31 17:42:44,-0.9000,-89.6000,79.79,69,40,14.97
41,41,Atuona,PF,2021-05-31 17:44:52,-9.8000,-139.0333,78.75,69,50,11.10
46,46,Victoria,HK,2021-05-31 17:44:40,22.2855,114.1577,82.38,92,100,1.01
49,49,Puerto Ayora,EC,2021-05-31 17:44:54,-0.7393,-90.3518,82.36,84,76,8.99

In [35]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [36]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df= preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df.head(10)

                       City Country  Max Temp      Lat       Lng Hotel Name
11           Kulhudhuffushi      MV     82.92   6.6221   73.0700
14                Road Town      VG     86.09  18.4167  -64.6167
18                   Bonthe      SL     76.14   7.5264  -12.5050
24                Namatanai      PG     79.02  -3.6667  152.4333
27                     Hilo      US     84.27  19.7297 -155.0900
37                   Suarez      CO     81.79   2.9540  -76.6964
38  Puerto Baquerizo Moreno      EC     79.79  -0.9000  -89.6000
41                   Atuona      PF     78.75  -9.8000 -139.0333
46                 Victoria      HK     82.38  22.2855  114.1577
49             Puerto Ayora      EC     82.36  -0.7393  -90.3518

In [37]:
#Set parameters to search for a hotal
params= {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
#Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat= row["Lat"]
    lng= row["Lng"]
    #Add the latitude and longitude to location key for the params dictionary
    params["location"]= f"{lat},{lng}"
    #Use the search term: lodging and lat and long
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get JSON data from the search
    hotels= requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"]= hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Kulhudhuffushi,MV,82.92,6.6221,73.0700,Haajy Guest House 1
14,Road Town,VG,86.09,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
18,Bonthe,SL,76.14,7.5264,-12.5050,Bonthe Holiday Village
24,Namatanai,PG,79.02,-3.6667,152.4333,Namatanai Hotel
27,Hilo,US,84.27,19.7297,-155.0900,Hilo Hawaiian Hotel
37,Suarez,CO,81.79,2.9540,-76.6964,Hotel Estrella Dorada
38,Puerto Baquerizo Moreno,EC,79.79,-0.9000,-89.6000,Hotel los Algarrobos
41,Atuona,PF,78.75,-9.8000,-139.0333,Villa Enata
46,Victoria,HK,82.38,22.2855,114.1577,Mini Hotel Central
49,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [46]:
#Add an info box
info_box_template= """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""
hotel_info= [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
#Add a heatmap of temperature for the vacation spots
locations= hotel_df[["Lat", "Lng"]]
max_temp= hotel_df["Max Temp"]
fig= gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer= gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                               max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))